*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F9F9E0;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.box{
    /* border: 2px solid black; */
    background-color: rgba(172, 168, 168, 0.315);
    
    width: 90%;
    height: 70%;
     position: absolute;
    left: 5%;
    top: 15%; 
    text-align: center;
    /* margin: auto; */
}
h1{
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 8rem;
    color: #F9F9E0;
}
.btn{
    margin-top: 50px;
}
.six{
    background-color: aquamarine;
    display: inline-flex;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.six h2{
    font-size: 50px;
    display: inline-block;
    
}